@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-family-poppins: var(--font-poppins);

  --color-primary: #031d34;
  --color-secondary: #141717;
  --color-red: #960018;
  --color-warning: #f39c11;

  --color-blue-900: #00072d;
  --color-blue-800: #001c55;
  --color-blue-700: #0a2472;
  --color-blue-500: #0e6ba8;
  --color-blue-200: #a6e1fa;

  --color-imdb-yellow: #deb522;
}

@layer base {
  body {
    font-family: var(--font-family-poppins);
    background-color: var(--color-primary);
    color: white;
  }
}
